{% extends 'base.html' %}

{% block content %}
<h1>Wish List Items</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
{% for wish in wishes %}
  <tr>
    <td>{{ wish.description }}</td>
    <td>
      <form action="{% url 'delete_wish' wish.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">X</button>
      </form>
    </td>
  </tr>
{% empty %}
  <h3>No Wish Items Exist</h3>
{% endfor %}
</table>
<a href="{% url 'add_wish' %}" class="btn">Add A Wish Item</a>

{% endblock %}